html {
    min-height: 100% !important;
    height: 100%;
}

body {
	color: #ad8a4a;
	font-family: Verdana, sans-serif;
	background-color:beige;
	padding: 5%;
	//width:90%;
	border: 5px solid brown;
}

#header {
	width:100%;
	text-align:center;
        background-image:url('images/gallery_banner2.png');
}

.nav a {
	text-decoration: none;
	border: 2px dotted red;
	color:white;
	background-color: #2a6f29;
	font-size: 1.5em;
	padding:1%;
}

.nav a:hover {
	background-color:white;
	color: #2a6f29;
}

ul{
	margin-bottom:10%; padding-left:0px;;
}

li {list-style: none; padding:2% 2% 2% 0%; vertical-align:middle; float:left;}


a img {
	max-height: 75px;
	border:2px solid brown;
/* width:500px; */
}

a img:hover{
	border: 5px solid yellow;
}

footer { float: clear;}
/* add more styles below... */

