body {
  background-color:grey;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2em;
}

img{

}

h1 {
  text-align:center;
  color: gold;
}

nav {
  text-align: center;
  font-size: 1.5em;
  color: gold;
}

nav li {
  display: inline;
  margin-left:2%;
  margin-right:2%;
}

ul {
  /* padding-top:5%; */
/*  border: 1px solid red; */
}

ol{
    padding-top:0; margin-bottom:5%; margin-left:2%;
/*  border: 1px dashed yellow; */
}

ul li {
  color: gold;

  /* font-size: 1.5em; */
  /* background-color: gold; */

}

ol li {
  color: white;

  /*font-size: 1.1em;
  line-height: 1.3; */

}

figcaption {
/*  color: white; */
  font-style: italic;
}

footer {
  color:gold;
  font-style:italic;
  text-align:center;
}
