body {
padding: 30px;
background-color: antiquewhite;
}

h1 {
  /* text-align:center; */
}

blockquote {
color: purple;
font-size: 16pt;
font-family: "times new roman", times, serif;
/* border: 1px dashed aliceblue;
    border: 1px dashed #000000;
*/
}

.left {
  text-align:left;
  margin-left:0px;
  /*
  width:40%;
  float: left;  */
  /* background-color: cadetblue; */
  
}

.right {
    text-align:left;
    margin-left:0px;
 /* text-align:right;
  margin-right:0px;
  width:40%;
  float: right;
  */
}

div {
margin-left: 5%;
font-family: geneva, sans-serif;
font-size: 12pt
}
