body {
padding: 30px;
background-color: antiquewhite;
}

blockquote {
color: purple;
font-size: 16pt;
font-family: "times new roman", times, serif;
}


div {
margin-left: 5%;
font-family: geneva, sans-serif;
font-size: 12pt
}
