body {
  background-color:grey;
}
header {
  width:100%;
  height:300px;
  background-image:url('images/banner.jpg');
  background-position: left;
  background-size: cover;
  background-color:white;
}

#content {
  width:90%;
  margin-top:100px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2em;
}

img{

}

h1 {
  text-align:center;
  padding-top:1em;
  color: gold;
}

h2 {
  color:white;
  margin-bottom:2em;
}

nav {
  text-align: center;
  /* position:relative; */
  /*  top: 50px; */
  font-size: 1.5em;
  color: gold;
  overflow: hidden;
  margin-left: 15%;
}

nav a {
  text-decoration:none;
  color:gold;
  font-weight:bold;
  margin-left:2%;
  margin-right:2%;
  float:left;
}

.dropdown, .dropdown2 {
  float:left;
  font-weight:bold;
  margin-left:2%;
  margin-right:2%;
}

.dropdown:hover .dropdown-content {
  color: black;
  margin-left:0;
  margin-right:0;
  /*display: inline; */
  display: block;
}

.dropdown2:hover .dropdown2-content {
  color: black;
  margin-left:0;
  margin-right:0;
  /*display: inline; */
  display: block;
}


.dropdown-content, .dropdown2-content {
   display:none;
}

.dropdown-content a, .dropdown2-content a {
  display: block;
  text-align:left;
}

.dropdown-content a:hover, .dropdown2-content a:hover {
background-color:gold;
color:black;
text-align:left;
z-index:100;
}


dl {
  /* padding-top:5%; */
/*  border: 1px solid red; */
}

dt {
    padding-top:0; margin-left:2%;
/*  border: 1px dashed yellow; */
}

dt, dt a {
  color: gold;

  /* font-size: 1.5em; */
  /* background-color: gold; */

}

dd {margin-bottom:3%}

ol li {
  color: white;

  /*font-size: 1.1em;
  line-height: 1.3; */

}

#main {
  width:50%;
  float:left;
}

#featured {
  width:50%;
  float:left;
  padding-left:5%;
  text-align:center;
}
figcaption {
/*  color: white; */
  font-style: italic;
}

footer {
  color:gold;
  clear:both;
  font-style:italic;
  text-align:center;
}
